PORT=4000
SULTS_API_BASE_URL=https://api.sults.com.br/api/v1
SULTS_TICKET_PATH=/chamado/ticket
SULTS_API_TOKEN=
SULTS_AUTH_HEADER=Authorization
SULTS_AUTH_SCHEME=
SULTS_DEFAULT_USER_ID=
SULTS_TIMEOUT_MS=10000
SULTS_PAGE_LIMIT=100
SULTS_MAX_PAGES=0
TICKET_CACHE_TTL_MS=600000
